<% if user_signed_in? %>
<h1>How do you feel today?</h1>
<br>
<%= link_to ' Add new diary', new_diary_path, class:"btn btn-dark bi bi-plus-circle-fill", :style=>"background-color:#D15FEB; border-color:#D15FEB;" %> 
<br>
<br>
<%= month_calendar(events: @diaries) do |date, diaries| %>
  <%= date.day %>
  <br>
  <% diaries.each do |diary| %>
    <%= link_to diary.feeling, diary, :style=>"text-decoration: none; font-size: 20px;"%>
<% end %>
<% end %>
<br>

<% else %>
<div class="head">
<h1>Welcome to Diary app!</h1>
<% end %>
</div>